[Unit]
Description=Celebrity Face Match Demo Service
Requires=systemd-udev-settle.service weston.service
After=systemd-udev-settle.service weston.service

[Service]
Type=exec
User=root
Environment="XDG_RUNTIME_DIR=/run/user/0"
ExecStart=/bin/bash -lc "/usr/bin/python3 aidemo.py -c vm016 -s hdmi -f"
WorkingDirectory=/usr/share/demo-celebrity-face-match/

[Install]
WantedBy=multi-user.target
